div.item-list {
	 .item-container {
		width: 30%;
		margin: 2%;
		float: left;
		position: relative;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
		.img-overlay {
		  	position: absolute;
		  	background: rgba(255, 255, 255, 0.6);
		  	cursor: pointer;
		  	overflow: hidden;
		  	bottom: -224px;
		  	padding: 5%;
		  	bottom: 0;
		  	transition: 500ms;
		  	
		  	h4 {
		  		color: #000;
		  		text-align: center;
		  	}
		  	p {
		  		display: -webkit-box;
			  	max-width: 85%;
			  	height: 30%;
			  	margin: 0 auto;
			  	font-size: .9em;
			  	line-height: 1;
			  	-webkit-line-clamp: 9;
			  	-webkit-box-orient: vertical;
			  	overflow: hidden;
			  	text-overflow: ellipsis;
		  	}
		  	a.r-more {
			  display: block;
			  font-size: .9em;
			  padding: 10px 0 10px 21px;
			}
		  	.skills {
		  		li {
		  			list-style: none;
		  			float: left;
		  			i {
		  				padding: 35px;
		  				display: block;
		  			}
		  		}
		  	}
		}
		&:hover .img-overlay{
			bottom: 0;
		  	transition: 500ms;
		}
	}
	
}